body {
    font-family: arial;
    padding: 15px;
    line-height: 2;
    display: flex; 
    justify-content: center; 
    
}

.container {
    max-width: 250px;
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 8px;
    
}

input {
    width: 97%;
    padding: 2px;
    margin: 10px 0;
    display: block;
}

button {
    background: #38d232;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    width: 100%;
}

#hasil {
    margin-top: 20px;
    font-weight: bold;
}